#circle-of-willis-renderer {
    width: 800px;
    fill:none;
    stroke-width: 0.2;
    stroke:#000;
}

#circle-of-willis text {
    font-size: 4px;
    fill: black;
     stroke-width: 0.1;
}

.show-description {
    visibility: visible;
    fill: none;
}

.hide-description {
    visibility: hidden;
}

.visible-locations {
    visibility: visible;
    stroke-width: 0 !important;
    cursor: pointer;
}

.hide-locations {
    visibility: hidden;
    fill: none;
}

.cursor-pointer {
    cursor: pointer;
}

.text-align-left {
    text-align: left;
}