#app-name {
    text-align: center;
    align-self: center;
    font-size: 1.6em;
    font-weight: 500;
    padding: 20px;
}

#logo {
    height: 80px;
    width: 230px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}