#filter-container{
    display: flex;
    justify-content: space-around;
}

#age-slider {
    display: flex;
    margin-top: 40px;
    width: 300px;
}

#apply-filter-button, #selected-filters {
    margin-top: 10px;
}

#apply-filter-button {
    height: 35px;
}

#filter-value {
    transform: translateX(-21px)
}

#filter-button-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#left-filter, #right-filter {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#filter-key {
    display: flex;
    align-items: center;
}