#aneurysm-container {
    display: flex;
    justify-content: center;
}

#aneurysm-group {
    /*width: 30%;*/
    padding-left: 20px;
}

#visualize {
    display: flex;
    width: 30%;
    flex-direction: row-reverse;
}
