#circle-of-willis-user-options {
    display: flex;
    justify-content: space-evenly;
}


#color-picker-container {
    display: flex;
    align-items: center;
    font-weight: 400;
}

#heatmap-color-picker {
    width: 150px !important;
}

#heatmap-color-picker, #skeleton-color-picker, #glyph-color-picker {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
}

#glyph-color-picker {
    border-radius: 50% !important;
    border-width: 3px !important;
    background: none;
}

.hue-horizontal {
    overflow: hidden !important;
}



#heatmap-container{
    display: flex;
    justify-content: space-between;
    width: 650px;
    max-width: 650px;
    transform: translate(100px, 10px);
}



#heatmap-gradient{
    display: flex;
    height: 400px;
    transform: translate(-50px, 200px);
}

#heatmap-gradient-color{
    height: 378px;
    width: 10px;
    /*margin-top: 100px;*/
    border-width: thin;
    border-radius: 1px;
    border-style: solid;
    /*margin-inline-end: 0;*/

}


#heatmap-gradient-ruler{
    height: 400px;
    width: 10px;
    /*margin-top: 100px;*/
    /*margin-left: 10px;*/
    /*border-width: thin;*/
    /*border-radius: 1px;*/
    /*border-style: none;*/
    /*margin-inline-start: 0;*/
    background-image: repeating-linear-gradient(180deg, black 0, black 2px, transparent 0, transparent 2cm);

}
#span {
    display: flex;
    justify-content: space-between;
    flex: 1;
    /*margin-top: 40px;*/
    text-align: center;
    font-size: small;
  }

#description-legend {
    /*height: 100px;*/
    /*width: 600px;*/
    /*border-width: thin;*/
    /*border-style: double;*/
    /*margin-bottom: 10px;*/
    /*font-weight: bold;*/
    /*margin-top: -40px;*/
}

#description-legend textfield {
    pointer-events: none;
    cursor: not-allowed !important;
    user-select: none
}

#heatmap-color-options {
    height: 15px;
    width: 100px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}
